@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans';
  background-color: white;
  color: var(--color-text-color-page);
}

h1, h2, h3 {
  @apply font-bold
}

:root {
  /* Header */
  --color-background-upper: #ffffffff;
  --color-text-color-upper: #000000ff;
  
  /* Table */
  --color-background-table: #ffffffff;
  --color-text-color-table: #000000ff;
  --color-hover-bg-table: color-mix(in srgb,  #ffffffff, white 50%);
  --color-hover-text-table: color-mix(in srgb, #526bceff, black 3%); 

  /* SideBar */
  --color-background-sidebar: #f0f0f0ff; 
  --color-text-color-sidebar-pr: #000000ff;
  --color-text-color-sidebar-sec: #000000ff;
  --color-hover-bg: color-mix(in srgb,  #ffffffff, white 50%);
  --color-hover-text: color-mix(in srgb, #526bceff, black 3%); 
  
  /* Page */
  --color-background-page: rgb(232, 232, 232); 
  --color-text-color-page: #000000ff;

    /* Estilos personalizados para react-calendar */
  .react-calendar {
    background-color: var(--color-background-table);
    color: var(--color-text-color-table);
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-family: inherit;
  }

  .react-calendar__navigation button {
    color: var(--color-text-color-table);
    min-width: 44px;
    background: none;
    font-weight: bold;
  }

  .react-calendar__tile--active {
    background-color: #007bff !important; 
    color: white !important;
    border-radius: 8px !important;
  }

  .react-calendar__tile {
    box-shadow: none !important;
    border: none !important;
  }

  .react-calendar__tile:enabled:hover {
    background-color: var(--color-hover-bg-table);
    color: var(--color-hover-text-table);
  }


  .today-highlight {
    background-color: #007bff !important;
    color: white !important;
    border-radius: 50%;
  }

  .today-highlight:hover {
    background-color: #0069d9 !important;
    color: white !important;
  }

}

